


*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.header-main-div{
    background-image: url('../img/Fondo\ Morado.png');
    background-repeat:  no-repeat;
    background-size: 100% 100%;
    padding-bottom: 13rem;
   
}
.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-left: 4rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}
.logo-img{
    width: 9rem ;
}
.Dondo-Comparar {
    width: 41%;
    padding-left: 4rem;
}
.Dondo-Comparar  li a{
    text-decoration: none;
    
}
.header-body{
    padding-top: 5rem;
}
.navbar-btn-leermas{
    font: normal normal 600 1rem Poppins;

color: #383838;
text-transform: uppercase;
opacity: 1;
}

.violate-btn{
    background: transparent linear-gradient(90deg, #863398 0%, #BC36D9 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 20px #86339883;
    border-radius: 38px;
    opacity: 1;
    padding: 0.7rem 2rem ;
    text-decoration: none;
}
.violate-btn:hover{
    transition-delay: 8ms;
    background: linear-gradient(to right, #e2cfe7,  #c823ed);
    color: #863398 !important;
    
}
.violate-heading{
    color: #863398;
}

.box-sm{
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 10px 99px #8633982B;
border-radius: 23px;
opacity: 1;
padding: 1.7rem 3rem 1.5rem 3rem;
}

.accordion-item {
   
    margin-bottom: 3rem !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.6rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    border: none !important;
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 10px 99px #8633982B !important;
    border-radius: 23px !important;
    opacity: 1 !important;
}
.accordion-item:not(:first-of-type) {
    margin-bottom: 2rem ;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 99px #8633982B;
    border-radius: 23px;
    opacity: 1;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: white;
    box-shadow: none;
}
.accordion-body{
    padding-bottom: 3rem !important;
    padding: 1rem 2.25rem;
}

.accordion-button::after {
    flex-shrink: 0;
    /* width: 1.25rem;
    height: 1.25rem; */
    margin-left: auto;
    content: "+";
    font-size: 2rem;
    color: #863398;
    font-weight: bolder;
     background-image: none;
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}
.accordion-button:not(.collapsed  )::after {
    background-image: none;
    content: "-";
    /* transform: rotate(-180deg); */
    align-items: center;
    background-size: 1.25rem;
    font-size: 2rem !important;
    font-weight: bolder;
    transition: transform .2s ease-in-out;
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
}


.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    align-content: center;
    align-items: baseline;
}
.accordion-button {
    position: relative;
    display: flex;
    align-items: baseline;
    width: 100%;
    padding: 1rem 2.25rem;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
}

