


*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.header-main-div{
    background-image: url('../img/Fondo\ Morado.png');
    background-repeat:  no-repeat;
    background-size: 100% 100%;
    padding-bottom: 11rem;
   
}
.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-left: 4rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}
.logo-img{
    width: 9rem ;
}
.Dondo-Comparar {
    width: 40%;
    padding-left: 4rem;
}
.Dondo-Comparar  li a{
    text-decoration: none;
    
}
.header-body{
    padding-top: 5rem;
}
.navbar-btn-leermas{
    font: normal normal 600 1rem Poppins;

color: #383838;
text-transform: uppercase;
opacity: 1;
}

.violate-btn{
    background: transparent linear-gradient(90deg, #863398 0%, #BC36D9 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 20px #86339883;
    border-radius: 38px;
    opacity: 1;
    padding: 0.7rem 2rem ;
    text-decoration: none;
}
.violate-btn:hover{
    transition-delay: 8ms;
    background: linear-gradient(to right, #e2cfe7,  #c823ed);
    color: #863398 !important;
    
}
.violate-heading{
    color: #863398;
}

.box-sm{
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 10px 99px #8633982B;
border-radius: 23px;
opacity: 1;
padding: 1.7rem 3rem 1.5rem 3rem;
}

.accordion-item {
   
    margin-bottom: 2rem !important;
    padding-top: 0.7rem !important;
    padding-bottom: 0.5rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    border: none !important;
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 10px 99px #8633982B !important;
    border-radius: 23px !important;
    opacity: 1 !important;
}
.accordion-item:not(:first-of-type) {
    margin-bottom: 2rem ;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 99px #8633982B;
    border-radius: 23px;
    opacity: 1;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: white;
    box-shadow: none;
}